.product-container img{
    width: 350px;
    height: 350px;
    margin: 5px;
    
    
}
.product-container img:hover{
    border: 2px solid rgb(200, 230, 33);
    border-radius: 5px;
}
.product-container{
    border: 2px solid rgb(252, 240, 133);
    border-radius: 10px;
}
.phone-name{
    font-size: 30px;
    font-weight: 500;
    margin-left: 10px;
}
.phone-price{
    font-size: 25px;
    font-weight: 400;
    margin-left: 10px;
}
.cart-btn{
    border-radius: 20px;
    color: rgb(16, 12, 27);
    font-size: 20px;
    background-color: rgb(70, 248, 150);
    border: 0;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}